<html>
<head>
<title>about_app.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #bababa;}
.s2 { color: #6a8759;}
.s3 { color: #a9b7c6;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
about_app.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;LinearLayout </span><span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:tools</span><span class="s2">=&quot;http://schemas.android.com/tools&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span>
    <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;App Info - About App&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;24sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
        <span class="s1">android:textAlignment</span><span class="s2">=&quot;center&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@android:color/black&quot;</span>
        <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;Massa Bassa is an innovative car audio application that provides users with various links and calculators to help them easily design and calculate their sound system in the car. Whether you're involved in professional audio equipment, want to improve the sound quality in your car, or explore upcoming car audio/style events in Croatia, Massa Bassa will provide you with all the necessary resources and information!&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;22sp&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@android:color/black&quot;</span>
        <span class="s1">android:layout_marginStart</span><span class="s2">=&quot;16dp&quot;</span>
        <span class="s1">android:layout_marginEnd</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">/&gt;</span>

    <span class="s0">&lt;TextView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
        <span class="s1">android:text</span><span class="s2">=&quot;© 2023 Massa Bassa. All rights reserved.&quot;</span>
        <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
        <span class="s1">android:textStyle</span><span class="s2">=&quot;italic&quot;</span>
        <span class="s1">android:textColor</span><span class="s2">=&quot;@android:color/black&quot;</span>
        <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;16dp&quot;</span><span class="s0">/&gt;</span>

<span class="s0">&lt;/LinearLayout&gt;</span>
</pre>
</body>
</html>